.homepage .edit {
    margin-top: 4px; 
}

.glyphicon-player {
	font-size: 90px;
	margin: 10px;
	border: 1px solid #EAEAEA;
	overflow: hidden;
}

.grey{
	height: 40px;
	padding: 10px;
	background-color: #EAEAEA;
}

.player-panel {
	background-color: #F4F4F4;
}