.list-menu {
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
    list-style: none;
    padding: 5px;
}

.dropdown-menu {
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
    list-style: none;
    padding: 5px;
}